<h2>Hey there!</h2>
<p>MixedContent is the home of Colin Brumelle. Ex-Twitter engineer. Startup guy. Loves bikes, music, mountains and snow.</p>

<h2>Give me a shout if you want:</h2>
<ul>
  <li>help hacking on some fun code</li>
  <li>engineering advice for your startup</li>
  <li>assitance growing and scaling your org</li>
  <li>hints on the best bike trails in Marin</li>
  <li>tips on where to enjoy a quality beer..</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-send fa-md main-list-item-icon"></span>
    <a href="mailto:colin@mixedcontent.com">colin@mixedcontent.com</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-md main-list-item-icon"></span>
    <a href="https://twitter.com/cbrumelle">@cbrumelle</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-md main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/cbrumelle">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-md main-list-item-icon"></span>
    <a href="https://github.com/cbrumelle">GitHub Repository</a>
  </li>
</ul>
